<form [formGroup]="formGroup">
    <gg-input
    [name]="'Email'"
    [formControl]="formGroup.get('email')"
    [type]="'email'"
    >
    </gg-input>

    <gg-select
    [name]="'Płeć'"
    [placeholder]="'Wybierz'"
    [formControl]="formGroup.get('sex')"
    [options]="sexOptions">
    </gg-select>
</form>






<div>
  <p> Form value: </p>
  <pre>{{formGroup.value | json }}</pre>
  <p>is touched: {{ formGroup.get('email').touched }} <button (click)="toggleTouchedHandler()">toggle touched</button></p>
  <p>is disabled: {{ formGroup.get('email').disabled }} <button (click)="toggleDisabledHandler()">toggle disabled</button></p>

  <p> Email errors: </p>
  <pre>
     {{ formGroup.get('email').errors | json }}
  </pre>


</div>
